.DS_Store
mongodb/data
.docker/
__pycache__/
*.tar*
cookie
data/*
!data/.gitkeep
vision/data/
vision/batches/
vision/models/
# exclude everything
# Byte-compiled / optimized / DLL files
__pycache__
vision/logs/*
# exception to the rule
!vision/logs/.gitkeep
!vision/models/.gitkeep
!vision/batches/.gitkeep
